* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(43,197,143);
}

.main {
    background-image: url(/images/bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 80vh;
    padding-top: 20vh;
}

.container {
    color: black;
    margin: auto;
    width: 30vw;
    height: 40vh;
    text-align: center;
    margin-right: 18%;
    margin-top: 5%;

}

.container h2 {
    font-size: 2rem;
    text-align: center;
    color:black;
    text-shadow: 1px 1px 2px black;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10%;
}


.container input {
    width: 28vw;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(43,197,143);
    padding: 5px;
    margin-bottom: 5%;
    font-weight: 600;

}

.container input:focus {
    outline: none;
    border-bottom: 3px solid rgb(43,197,143);
    color: rgb(33, 16, 72);
}

.icon {
    width: 1vw;
    color: rgb(43,197,143);
    text-shadow: 1px 1px 2px black;
}

a {
    font-size: 13px;
    font-weight: 700;
    color: black;
    margin-top: 5%;
    padding: 5%;

}

button {
    width: 15vw;
    margin-top: 10%;
    background-color: rgb(43,197,143);
    cursor: pointer;
    padding: 8px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 5%;
    font-weight: 700;

}


@media(max-width:500px)
{
    .container{width: 100vw;height: 60vh;}
    .container input {padding-left: 4%;
        width:80vw;}
        button{width: 45vw;}
}





/*-------Details.html CSS Start-------*/



.grid-container {
    display: grid;
    gap: 50px 30px;
    grid-template-columns: repeat(auto-fit, minmax(386px, 1fr));
    padding: 3%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.502);
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    flex-wrap: wrap;
    text-align: justify;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}